@model IEnumerable<WebApplicationMvc.Models.Customer>
@{
}
if (settings != null)
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Email_id</th>
    </tr>
    @foreach (var cust in Model)
    {
        <tr>
            <td>@cust.Name</td>
            <td>@cust.Email_id</td>
        </tr>

    }
</table>